<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/main.css') }}">
    
    <title>{% block title %} Default Title {% endblock %}</title>
    
    <link rel = "icon" type = "image/png" href = "{{ url_for('static', filename = 'image/icon_title.png') }}">
</head>

<body class = "font_playfair">
    <h1>Selamat Datang</h1>

    <button id = "play-button">Putar Lagu</button>

    <audio id = "lagu" preload = "auto">
        <source src = "{{ url_for('static', filename = 'audio/kebo_giro.mp3') }}" type = "audio/mpeg">
        Browser tidak mendukung audio.
    </audio>

    
    {% block content_1 %}{% endblock %}
    {% block content_2 %}{% endblock %}
    {% block content_3 %}{% endblock %}

    <!-- <script src = "{{ url_for('static', filename = 'js/audio.js') }}"></script> -->
    {% block scripts  %}{% endblock %}
</body>
</html>