{% extends "base.html" %}

{% block title %} Raka & Nurul - Wedding Invitation {% endblock %}

{% block content_1 %}
    <div class = "invitation-container">

        <div class = "details">
            <img src = "{{ url_for('static', filename = 'image/initial_name.png') }}" alt = "initial name" class = "responsive-img">
        </div>

        <h1>Wedding Invitation</h1>
        <p>We are pleased to invite you to the wedding of</p>
        <h2>Raka & Nurul</h2>
        <p>Date: 15th June 2025</p>
        <p>Location: The Grand Hall, City</p>
        <button>RSVP</button>
    </div>

{% endblock %}

{% block content_2 %}
    <h1 class = "font_libre">Sampling font A</h1>

{% endblock %}

{% block content_3 %}
    <h1 class = "font_playfair">Sampling font B</h1>

{% endblock %}

{% block scripts %}
    <script src = "{{ url_for('static', filename = 'js/audio.js') }}" defer>
        console.log("Script dimuat!");
    </script>
{% endblock %}