* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'font_playfair_regular';
}

body.lock-scroll {
  overflow: hidden;
}

html, body {
  min-width: 100dvw;
  min-height: 100dvh;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;

  background-color: black;

  background-image: url('../background.png');
  background-size: 100% 100%;
  
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

audio {
  display: none;
}
