/* Cover Sections */
/* ============== */
.cover_content {
    display: flex;
    flex-direction: column;

    height: 100%;

    justify-content: flex-start;

    /* background-color: white; */
}

.cover_initial {
    display: flex;

    width: 60%;

    align-self: center;

    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.cover_invitation {
    display: flex;

    font-size: 1.2rem;

    align-self: center;

    margin-bottom: 0.5rem;
}

.cover_name {
    display: flex;

    font-size: 2.2rem;

    align-self: center;

    margin-bottom: 0.5rem;
}

.cover_guest {
    display: flex;

    font-size: 1.2rem;

    align-self: center;

    margin-bottom: 0.5rem;
}

.cover_gunungan {
    display: flex;

    width: 35%;
    height: 25%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;

    align-self: center;

    margin-bottom: 1.5rem;
}

.cover_button {
    display: flex;

    width: 75%;
    height: auto;

    font-size: 1rem;
    color: whitesmoke;

    justify-content: center;
    align-items: center;
    align-self: center;

    background-color: black;

    border-radius: 0.5rem;
    padding: 0.2rem;
}

.cover_button:hover {
    background-color: #602A02;
}


/* Opening Sections */
/* ================ */
.opening_content {
    display: flex;
    flex-direction: column;

    height: 100%;

    justify-content: flex-start;
    align-items: center;
    
    /* background-color: yellowgreen; */
}

.opening_arabic {
    display: flex;

    font-size: 1.5rem; 
    font-family: 'Amiri', serif;
    font-weight: bold; 

    align-self: right;
    
    direction: rtl;

    margin-bottom: 0.5rem;
}

.opening_arti {
    font-size: 1rem; 
    font-style: italic; 

    line-height: 1.5rem;
    
    margin-bottom: 0.5rem;
}

.opening_space {
    width: 40%; 

    border: 1px solid black; 
    margin: 1.5rem auto;
}


.opening_text {
    text-align: justify;

    margin-bottom: 1rem;
}


/* CP Sections */
/* =========== */
.cp_canvas {
    display: flex;
    flex-direction: column;

    margin-top: 1rem;

    text-align: center;

    justify-content: space-between;

    /* background-color: bisque; */
}

.cp_canvas img {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    border: 5px solid #ccc;

    border-top-left-radius: 6rem;
    border-top-right-radius: 6rem;

    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;

    /* background-color: white; */
}

.cp_name {
    text-align: center;

    margin-top: 1rem;
    margin-bottom: 1rem
}

.cp_text {
    text-align: center;

    margin-bottom: 0.5rem;
}


/* Agenda Sections */
/* =============== */
.agenda_canvas {
    display: flex;
    flex-direction: column;

    text-align: center;

    justify-content: space-between;
}

.agenda_canvas img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;

    width: 50%;
    height: auto;

    padding: 0.5rem;
}

.agenda_head {
    display: flex;
    flex-direction: column;
    text-align: center;

    font-size: 2.5rem;

    margin-top: 1rem;
    font-weight: bold;
}

.agenda_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    font-size: 1.4rem;

    margin-top: 1.5rem;

    line-height: 2.5rem;
}

.agenda_button {
    display: flex;

    width: 50%;
    height: 2rem;

    font-size: 1rem;

    justify-content: center;
    align-items: center;
    align-self: center;

    border-radius: 0.5rem;
    padding: 0.2rem;

    margin-top: 1.5rem;
}

.agenda_button img {
    width: 1rem;
    height: auto;

    margin-right: 0.3rem;

    fill: #4285F4;
}


/* Conting Sections */
/* ================ */
.counting_title {
    font-size: 2.8rem;
}

.counting_text {
    font-size: 1.5rem;

    margin-top: 1.5rem;
}

.counting_date {
    font-size: 2rem;

    margin-top: 1.5rem;
}

.countdown_title {
    font-size: 2.8rem;

    margin-top: 1.5rem;
}

#countdown {
      font-size: 2rem;
      color: #444;
      margin-top: 1rem;
}

button.calendar-btn {
    background-color: #4285F4;
    color: white;

    padding: 1rem 1.5rem;
    border: none;
    
    border-radius: 0.5rem;
    font-size: 1rem;
    
    cursor: pointer;
    margin-top: 1rem;
}

button.calendar-btn:hover {
    background-color: #3367d6;
}

/* Galery Sections */
/* =============== */
.galery_canvas {
    background-color: blanchedalmond;
}

.carousel-container {
    display: flex;
    width: 80%;
    overflow: hidden;
    margin: 1.5rem auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.carousel-images {
  display: flex;
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1); /* Lebih halus */
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 1;
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}


/* Clossing Sections */
/* ================= */
.closing_canvas {
    background-color: aquamarine;
}