/* Button Sections */
/* =============== */



/* Image Sections */
/* ============== */

.inisial {
    width: 50%;
    height: auto;
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.gunungan_ramayana {
    width: 50%;
    height: 50%;
    display: block;

    margin-left: auto;
    margin-right: auto;
}