/* Button Sections */
/* =============== */



/* Image Sections */
/* ============== */
.box {
    background-color: blueviolet;

    border-radius: 0.5rem;
    padding: 0.5rem;

    display: flex;
    
    justify-content: center;
    align-items: center;
}