.corner_frame {
    background-image: url('../assets/frame1_floral_corner.png');
    width: auto;
    height: auto;
}

.cf_top_left {
    position: absolute;
    top: 0;
    left: 0;
}

.side_frame {
    background-image: url('../assets/frame1_floral_side.png');
}




.frame {
    position: absolute;
    width: 38%;
    height: 20%;
    background-image: url('../assets/frame1_floral_corner.png');
    background-size: cover;
    z-index: 10;
}

/* Sudut-sudut dengan transformasi */
.corner.top-left {
    top: 0;
    left: 0;
}

.corner.top-right {
    top: 0;
    right: 0;
    transform: scaleX(-1); /* mirror horizontal */
}

.corner.bottom-left {
    bottom: 0;
    left: 0;
    transform: scaleY(-1); /* mirror vertical */
}

.corner.bottom-right {
    bottom: 0;
    right: 0;
    transform: scaleX(-1) scaleY(-1); /* mirror horizontal dan vertical */
}

/* Sisi jika gambar mendukung bentuk frame sisi (opsional) */
.side {
    background-image: url('../assets/frame1_floral_side.png');
    background-size: cover;
    z-index: 10;
}

.side.top {
    top: 0;
    left: 20%;
    right: 20%;
    height: 20%;
    transform: rotate(0deg);
}

.side.bottom {
    bottom: 0;
    left: 40px;
    right: 40px;
    height: 20px;
    transform: rotate(180deg);
}

.side_left {
    display: grid;
    width: 12rem;
    height: auto;
    transform: rotate(-90deg);
}

.side.right {
    width: 12rem;
    height: auto;
    transform: rotate(-90deg);
    transform: rotate(90deg);
}