/* Top Sections */
/* ============ */
.cor_frame_tl,
.cor_frame_tr {
    display: flex;
    flex-wrap: wrap;

    aspect-ratio: 1/1;
    
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

.cor_frame_tl {
    background-image: url('../assets/corner/frame1_horizontal.png');
    background-position: top left;
}

.cor_frame_tr {
    background-image: url('../assets/corner/frame1_horizontal_reverse.png');
    background-position: top right;
}


.frame_top {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    
    height: 40%;

    margin-top: 0.2rem;
    
    background-image: url('../assets/side/frame1_horizontal.png');
    
    background-repeat: repeat-x;
    background-size: contain;
    background-position: top center;
}



/* Center Sections */
/* =============== */
.frame_left {
    display: flex;
    flex-wrap: wrap;
    flex: 10;
    
    position: relative;

    width: 50%; 
    height: 100%; 
    
    background-image: url('../assets/side/frame1_vertikal.png');
    background-repeat: repeat-y;
    background-size: contain;
}

.frame_center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 80;

    width: 100%;             
    height: 100%;            
}

.frame_right {
    display: flex;
    flex-wrap: wrap;
    flex: 10;
    
    position: relative;

    width: 40%; 
    height: 100%; 
    
    background-image: url('../assets/side/frame1_vertikal_reverse.png');
    background-repeat: repeat-y;
    background-size: contain;
}

/* Bottom Sections */
/* =============== */
.cor_frame_bl,
.cor_frame_br {
    display: flex;
    flex-wrap: wrap;

    aspect-ratio: 1/1;

    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

.cor_frame_bl {
    background-image: url('../assets/corner/frame1_vertical.png');
    background-position: bottom left;
}

.cor_frame_br {
    background-image: url('../assets/corner/frame1_vertical_reverse.png');
    background-position: bottom right;
}


.frame_bottom {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    
    height: 40%;

    margin-bottom: 0.2rem;
    align-self: flex-end;
    
    background-image: url('../assets/side/frame1_horizontal_reverse.png');
    
    background-repeat: repeat-x;
    background-size: contain;
    background-position: bottom center;
}