.cover_section, 
.opening_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 100vh;
}

.cover_top, 
.opening_top {
    display: flex;
    flex-direction: row;

    height: 10%;
    width: 100%;

    padding: 0.2rem;

    background-color: violet;
}

.cover_center, 
.opening_center {
    display: flex;
    flex: 1;
    flex-direction: row;

    padding: 0.2rem;

    height: 80%;
    width: 100%;

    background-color: blue;
}

.cover_bottom, 
.opening_bottom {
    display: flex;
    flex-direction: row;

    height: 10%;
    width: 100%;

    padding: 0.2rem;

    background-color: red;
}