/* =========== */
/* MOBILE ONLY */
/* =========== */
.wrapper {
  max-width: 480px;
  min-height: 100dvh;

  box-shadow: 0 0 0 9999px black;
}

/* Isi konten dalam wrapper */
.content {
  padding: 0rem;
}

/* Peringatan orientasi */
#orientation-warning {
  display: none;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 9999;
  
  width: 100dvw;
  height: 100dvh;
  
  background-color: black;
  color: white;
  
  justify-content: center;
  align-items: center;
  text-align: center;

  padding: 2rem;
  box-sizing: border-box;
}



/* Sections */
/* ======== */
.cover_section, 
#opening_section, 
.cp_section, 
.agenda_section, 
.counting_section,
.galery_section, 
.closing_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    min-height: 100svh;
}

.cover_section {
    justify-content: space-around;

    /* background-image: url('../assets/frame/frame_cover.png'); */
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center center;

    background-attachment: scroll;
}

#opening_section {
    justify-content: space-evenly;
}

.cp_section {
    justify-content: space-around;

    /* background-image: url('../assets/frame/frame_cp.png'); */
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center center;

    background-attachment: scroll;
}

.agenda_section {
    min-height: 100vh;

    justify-content: flex-start;
    
    /* background-image: url('../assets/frame/frame_agenda.png'); */
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-position: center center;

    background-attachment: scroll;
}

.counting_section {
    min-height: 80vh;

    justify-content: center;
    align-items: center;

    /* background: url('../assets/wayang/gunungan.png'); */
    background-repeat: no-repeat;

    background-position: center center;
    background-size: 90% auto;

    background-attachment: scroll;
}

.galery_section {
    align-items: center;

    min-height: 100vh;
}

.closing_section {
    min-height: 100%;
}

/* Top */
/* === */
.cover_top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 45%;
    width: 100%;

    padding: 2rem 1rem 0 1rem;
}


/* Bottom */
/* ====== */
.cover_bottom {
    display: flex;
    flex-direction: column;

    height: 15%;
    width: 100%;
    
    padding: 0rem 1rem 1.5rem 1rem;


    justify-content: center;
}


/* Center */
/* ====== */
.cover_center, 
.opening_center, 
.agenda_center, 
.cp_center, 
.counting_center, 
.galery_center, 
.closing_center {
    display: flex;
    flex-direction: row;
}

/* ============================================= */
.cover_center {
    justify-content: space-evenly;

    height: 40%;
    width: 100%;

    padding: 0.5rem;
}


/* ============================================= */
.opening_center {
    flex-direction: column;
    justify-content: space-evenly;

    height: 100%;

    padding: 1rem;
}

/* ============================================= */
.cp_center {
    flex-direction: column;
    justify-content: flex-start;
    
    height: 100vh;

    padding: 3.5rem 2.5rem 4rem 2.5rem;

    text-align: center;
}

/* ============================================= */
.agenda_center {
    flex-direction: column;
    justify-content: space-evenly;
    
    height: 100vh;

    padding: 2rem;
}

/* ============================================= */
.counting_center {
    flex-direction: column;
    justify-content: flex-start;

    margin: 1rem;
    padding: 1rem;

    background: rgba(0, 0, 0, 0.7); /* semi-transparent background */
    
    border-radius: 10px;
    
    text-align: center;
    color: white;
}

/* ============================================= */
.galery_center {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 1.5rem;
}

/* ============================================= */
.closing_center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 1rem;
}