* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


/* Audio Tag */
/* ========= */

audio {
    display: none;
}


/* Body Tag */
/* ======== */
body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}
