<section class="cover">
    <img src="{{ url_for('static', filename='assets/png/initial_name.png') }}" 
         class="init_name"
         alt="Initial name">

    <div id="overlay">
        <button id="enableScrollBtn">Mulai Scroll</button>
    </div>

    <img src="{{ url_for('static', filename='assets/png/gunungan_ramayana.png') }}"
         class="gunungan_ramayana" 
         alt="Wayang Gunungan">

    <div class="con_1"> 
        <h1 class="font_libre">Raka & Nurul</h1>
    </div>
</section>
