<section>

    <!-- Top Sections -->
    <!-- ============ -->
    <div class = "grid_horizontal">
    
        <div class = "cor_top_left"></div>
        <div class = "grid_top"></div>
        <div class = "cor_top_right"></div>

    </div>

    <!-- Center Sections -->
    <!-- =============== -->
    <div class = "grid_vertical">

        <div class = "grid_left"></div>

        <div class = "grid_center">
            <img src = "{{ url_for('static', filename='assets/inisial.png') }}" class = "inisial">
            <img src = "{{ url_for('static', filename='assets/gunungan.png') }}" class = "gunungan_ramayana">
        </div>

        <div class = "grid_right"></div>
        
    </div>
    
    <!-- Bottom Sections -->
    <!-- =============== -->
    <div class = "grid_horizontal">
    
        <div class = "cor_bottom_left"></div>
        <div class = "grid_bottom"></div>
        <div class = "cor_bottom_right"></div>

    </div>

</section>
