<div class="closing_section">
    <div class="closing_center">
        <p class="closing_text">
            Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila 
            Bapak/Ibu/Saudara/i berkenan hadir dan memberikan doa restu. 
            Atas kehadiran dan doa restu, kami ucapkan terima kasih.
        </p>
        
        <hr class="closing_space">

        <p class="closing_name">Raka & Nurul</p>

         <!-- QS Ar-Rum: 21 -->
        <p class="closing_arabic">
            وَمِنْ آيَاتِهِ أَنْ خَلَقَ لَكُم مِّنْ أَنفُسِكُمْ أَزْوَاجًا لِّتَسْكُنُوا إِلَيْهَا وَجَعَلَ بَيْنَكُم مَّوَدَّةً وَرَحْمَةً ۚ
        </p>
        
        <p class="closing_arti">
            “Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri,
            agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang.” <strong>(Ar-Rum: 21)</strong>
        </p>

    </div>
</div>