<div class="galery_section">
  <div class="galery_center">
    
    <!-- Grid Gallery Section -->    
    <div class="gallery-container">
      <div class="fade-scroll gallery_intersection">
        <img src="{{ url_for('main.protected_image', filename='galery/collections/dm_4.jpg') }}" loading="lazy">
        <img src="{{ url_for('main.protected_image', filename='galery/collections/p_4.jpg') }}" loading="lazy">
      </div>

      <div class="fade-scroll gallery_intersection">
        <img src="{{ url_for('main.protected_image', filename='galery/collections/gu_1.jpg') }}" loading="lazy">
        <img src="{{ url_for('main.protected_image', filename='galery/collections/tm_2.jpg') }}" loading="lazy">
      </div>

      <div class="fade-scroll gallery_intersection">
        <img src="{{ url_for('main.protected_image', filename='galery/collections/pm_5.jpg') }}" loading="lazy">
        <img src="{{ url_for('main.protected_image', filename='galery/collections/tdm_1.jpg') }}" loading="lazy">
      </div>
    </div>
  
  </div>

  <div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
  </div>

</div>