<div class="counting_section">
  <div class="counting_center">
    <div class="counting_title">COUNTING THE DAYS</div>
    
    <div class="countdown_display" id="countdown">
      <div class="time_box">
        <div class="time_number" id="days">0</div>
        <div>Hari</div>
      </div>
      
      <div class="time_box">
        <div class="time_number" id="hours">0</div>
        <div>Jam</div>
      </div>
      
      <div class="time_box">
        <div class="time_number" id="minutes">0</div>
        <div>Menit</div>
      </div>
      
      <div class="time_box">
        <div class="time_number" id="seconds">0</div>
        <div>Detik</div>
      </div>
    </div>

    <button class="calendar-btn" onclick="simpanKeKalender()">🗓️ ADD TO CALENDAR</button>
  </div>
</div>