<div class="counting_section fade-scroll lazy-bg" data-bg="{{ url_for('main.protected_image', filename='wayang/gunungan.png') }}">
  <div class="counting_center">
    <div class="counting_title">Pelaksanaan <br>Pernikahan</div>
    
    <div class="countdown_display" id="countdown">
      <div class="time_box">
        <div class="time_number" id="days">0</div>
        <div>Hari</div>
      </div>
      
      <div class="time_box">
        <div class="time_number" id="hours">0</div>
        <div>Jam</div>
      </div>
      
      <div class="time_box">
        <div class="time_number" id="minutes">0</div>
        <div>Menit</div>
      </div>
      
      <div class="time_box">
        <div class="time_number" id="seconds">0</div>
        <div>Detik</div>
      </div>
    </div>

    <button class="calendar-btn" onclick="simpanKeKalender()">🗓️ Simpan Tanggal</button>
  </div>
</div>