<div class="cover_section lazy-bg" data-bg="{{ url_for('main.protected_image', filename='frame/frame_cover.png') }}">
    <div class="cover_top">
        <img src="{{ url_for('main.protected_image', filename='inisial.png') }}">
        <p class="content_invite">Wedding Invitation</p>
        <p class="content_name">Raka & Nurul</p>

        <div class="content_guest">
            <p>Kepada Yth:</p>
            <p><strong>Tamu Undangan</strong></p>
        </div>
    </div>

    <div class="cover_center">
        <div class="content_left">
            <img src="{{ url_for('main.protected_image', filename='wayang/rama.png') }}" loading="eager">

        </div>
        
        <div class="content_right">
            <img src="{{ url_for('main.protected_image', filename='wayang/sinta.png') }}" loading="eager">
        </div>
    </div>

    <div class="cover_bottom">
        <button class="cover_button" id="play-button">Buka Undangan</button>
    </div>
</div>