<div class="cover_section">
    <div class="cover_top">
        <img src="{{ url_for('static', filename = 'assets/inisial.png') }}">
        <p class="content_invite">Wedding Invitation</p>
        <p class="content_name">Raka & Nurul</p>

        <div class="content_guest">
            <p>Kepada Yth:</p>
            <p><strong>Tamu Undangan</strong></p>
        </div>
    </div>

    <div class="cover_center">
        <div class="content_left">
            <img src="{{ url_for('static', filename = 'assets/wayang/rama.png') }}">
        </div>

        <!-- <div class="content_center">
            <img src="{{ url_for('static', filename = 'assets/wayang/ramayana.png') }}">
        </div> -->
        
        <div class="content_right">
            <img src="{{ url_for('static', filename = 'assets/wayang/sinta.png') }}">
        </div>
    </div>

    <div class="cover_bottom">
        <button class="cover_button" id="play-button">Buka Undangan</button>
    </div>
</div>