<div class="cp_section">
    <div class="cp_center">
        <div class="cp_canvas">
            <img src="{{ url_for('static', filename = 'assets/galery/raka.jpg') }}">
        </div>

        <p class="cp_name">Raka Prasetya Nugraha, S.T.</p>

        <p class="cp_text">Putra Pertama Dari: </p>

        <p class="cp_text"><strong>Bpk. Drs. H. Panca N. Widodo M.Si</strong></p>
        
        <p class="cp_text">Dan</p>
        
        <p class="cp_text"><strong>Ibu Hj. Lussy Handayanie, S.E.</strong></p>
    </div>
</div>