<div class = "cp_section">
    <div class = "cp_center">
        <div class = "cp_canvas">
            <img src = "{{ url_for('static', filename = 'assets/male.png') }}">
        </div>

        <h1>Raka Prasetya Nugraha, S.T.</h1>
        <p class = "opening_text">Putra pertama dari: </p>
        <p class = "opening_text"><strong>Bapak Drs. Panca N. Widodo M.Si</strong></p>
        <p class = "opening_text"><strong>Ibu Lussy Handayanie, S.E.</strong></p>
        <p class = "opening_text">Serang, Banten</p>
    </div>
</div>