<div class="cp_section">
    <div class="cp_center">
        <div class="cp_canvas">
            <img src="{{ url_for('static', filename = 'assets/galery/raka/raka_1_half.jpg') }}">
        </div>

        <h1 class="cp_name">Raka Prasetya N., S.T.</h1>

        <div>
            <p class="cp_text">Putra pertama dari: </p>
            <p class="cp_text"><strong>Bapak Drs. Panca N. Widodo M.Si</strong></p>
            <p class="cp_text">dan</p>
            <p class="cp_text"><strong>Ibu Lussy Handayanie, S.E.</strong></p>
            <p class="cp_text">Serang, Banten</p>
        </div>
    </div>
</div>