<div class="cp_section fade-scroll lazy-bg" data-bg="{{ url_for('static', filename='assets/frame/frame_cp.png') }}">
    <div class="cp_center">
        <div class="cp_canvas fade-scroll">
            <img src="{{ url_for('static', filename = 'assets/galery/cp/nurul.jpg') }}" loading="lazy">
        </div>

        <p class="cp_name fade-scroll">Nurul Fatimah</p>
        
        <p class="cp_text fade-scroll">Putri Ketiga Dari: </p>
        
        <p class="cp_text fade-scroll"><strong>Bapak Ngadiono</strong></p>
        
        <p class="cp_text fade-scroll">Dan</p>
        
        <p class="cp_text fade-scroll"><strong>Ibu Sri Supriyanti</strong></p>
    </div>
</div>