<div class="cp_section">
    <div class="cp_center">
        <div class="cp_canvas">
            <img src="{{ url_for('static', filename = 'assets/female.png') }}">
        </div>

        <div>
            <h3 class="cp_name">Nurul Fatimah</h3>
            <p class="cp_text">Putri Kedua dari: </p>
            <p class="cp_text"><strong>Bapak Ngadiono</strong></p>
            <p class="cp_text">dan</p>
            <p class="cp_text"><strong>Ibu Sri Supriyanti</strong></p>
            <p class="cp_text">Kota Gede, Yogyakarta</p>
        </div>
    </div>
</div>