<div class="galery_section">
  <div class="galery_center">
    <p class="gallery_title fade-scroll">Wedding Gallery</p>

    <!-- Carousel Section -->
    <div class="galery_center fade-scroll">
      <div class="carousel-container">
        <div class="carousel-images" id="carouselImages">
          <img src="{{ url_for('static', filename='assets/galery/carousel/p_1.jpg') }}" loading="eager">
          <img src="{{ url_for('static', filename='assets/galery/carousel/pm_1.jpg') }}" loading="eager">
          <img src="{{ url_for('static', filename='assets/galery/carousel/tm_1.jpg') }}" loading="eager">

          <img src="{{ url_for('static', filename='assets/galery/carousel/dm_2.jpg') }}" loading="eager">
          <img src="{{ url_for('static', filename='assets/galery/carousel/gu_2.jpg') }}" loading="eager">
          <img src="{{ url_for('static', filename='assets/galery/carousel/tdm_2.jpg') }}" loading="eager">
        </div>

        <button class="carousel-button prev">❮</button>
        <button class="carousel-button next">❯</button>
      
      </div>
    </div>

    <!-- Grid Gallery Section -->    
    <div class="gallery-container">
      <div class="fade-scroll gallery_intersection">
        <img src="{{ url_for('static', filename='assets/galery/collections/dm_4.jpg') }}" loading="lazy">
        <img src="{{ url_for('static', filename='assets/galery/collections/p_4.jpg') }}" loading="lazy">
      </div>

      <div class="fade-scroll gallery_intersection">
        <img src="{{ url_for('static', filename='assets/galery/collections/gu_1.jpg') }}" loading="lazy">
        <img src="{{ url_for('static', filename='assets/galery/collections/tm_2.jpg') }}" loading="lazy">
      </div>

      <div class="fade-scroll gallery_intersection">
        <img src="{{ url_for('static', filename='assets/galery/collections/pm_5.jpg') }}" loading="lazy">
        <img src="{{ url_for('static', filename='assets/galery/collections/tdm_1.jpg') }}" loading="lazy">
      </div>
    </div>
  
  </div>

  <div id="imageModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="modalImage">
  </div>
</div>