<div id="opening_section">
    <div class="opening_center"> <!-- Tambahkan class "text_background" -->

        <!-- Basmalah -->
        <div class="opening_basmalah fade-in delay-1">
            <p class="opening_arabic">بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</p>
            <p class="opening_arti">"Dengan nama Allah Yang Maha Pengasih lagi Maha Penyayang"</p>
            <hr class="opening_space">
        </div>

        <!-- Tahmid & Sholawat -->
        <p class="opening_text fade-in delay-2">
            Segala puji bagi Allah Subḥānahu wa Ta'ālā, Dzat Yang Maha Pengasih lagi Maha Penyayang, 
            atas limpahan rahmat dan karunia-Nya dalam setiap langkah kehidupan.
        </p>

        <p class="opening_text fade-in delay-3">
            Shalawat serta salam senantiasa tercurah kepada junjungan kita, 
            Nabi Muhammad SAW, beserta keluarga dan para sahabat beliau.
        </p>

        <!-- Doa & Maksud -->
        <p class="opening_text fade-in delay-4">
            Segala puji tertuju kepada Allah SWT atas karunia dan rahmat-Nya. 
            Dalam suasana penuh rasa syukur, kami mengundang Bapak/Ibu/Saudara(i) 
            untuk berkenan hadir dan memberikan doa restu pada pernikahan 
            putra-putri kami, sebagai awal perjalanan menuju keluarga 
            yang sakinah, mawaddah, warahmah.
        </p>

        <p class="opening_text fade-in delay-5">
            Kami mengundang Bapak/Ibu/Saudara(i) untuk 
            menyaksikan pernikahan putra-putri kami tercinta:
        </p>
    </div>
</div>