<div class = "opening">
    <div class = "sections_opening opening_top">
        <div class = "cor_frame_tl"></div>
        <div class = "frame_top"></div>
        <div class = "cor_frame_tr"></div>
    </div>

    <div class = "sections_opening opening_center">
        <div class = "frame_left"></div>
        
        <div class = "frame_center">
            <img src = "{{ url_for('static', filename = 'assets/inisial.png') }}" class = "cover_inisial">

            <h1 class = "cover_subtitle font_playfair">WEDDING<br>INVITATION</h1>
            <h2 class = "cover_name font_libre " style = "font-weight: bold;">RAKA<br>&<br>NURUL</h2>
            <p class = "cover_guest font_playfair">Kepada Yth:<br><strong>Tamu Undangan</strong></p>

            <img src = "{{ url_for('static', filename = 'assets/gunungan_simple.png') }}" class = "cover_wayang">

            <button class = "cover_invitation">📩 OPEN INVITATION</button>
        </div>

        <div class = "frame_right"></div>
    </div>

    <div class = "sections_opening opening_bottom">
        <div class = "cor_frame_bl"></div>
        <div class = "frame_bottom"></div>
        <div class = "cor_frame_br"></div>
    </div>
</div>