<div class = "opening_section">
    <div class = "opening_center">

        <!-- Basmalah -->
        <p class = "opening_arabic">بِسْمِ اللّٰهِ الرَّحْمٰنِ الرَّحِيْمِ</p>
        <p class = "opening_arti">"Dengan nama Allah Yang Maha Pengasih lagi Maha Penyayang"</p>

        <hr style="width: 40%; border: 1px solid #ccc; margin: 1.5rem auto;">

        <!-- QS Ar-Rum: 21 -->
        <p class  ="opening_arabic">
            وَمِنْ آيَاتِهِ أَنْ خَلَقَ لَكُم مِّنْ أَنفُسِكُمْ أَزْوَاجًا لِّتَسْكُنُوا إِلَيْهَا وَجَعَلَ بَيْنَكُم مَّوَدَّةً وَرَحْمَةً ۚ
        </p>
        
        <p class = "opening_arti">
            “Dan di antara tanda-tanda (kebesaran)-Nya ialah Dia menciptakan pasangan-pasangan untukmu dari jenismu sendiri,
            agar kamu cenderung dan merasa tenteram kepadanya, dan Dia menjadikan di antaramu rasa kasih dan sayang.” <strong>(QS. Ar-Rum: 21)</strong>
        </p>

        <hr class = "opening_space">

        <!-- Tahmid & Sholawat -->
        <p class = "opening_text">
            Segala puji bagi Allah Subḥānahu wa Ta'ālā, Dzat Yang Maha Pengasih lagi Maha Penyayang, 
            yang telah melimpahkan rahmat dan kasih sayang-Nya dalam setiap detik kehidupan kita.
        </p>

        <p class = "opening_text">
            Shalawat dan salam semoga senantiasa tercurah kepada junjungan mulia, Nabi Muhammad SAW, 
            penuntun cahaya di tengah kegelapan, bersama keluarga beliau yang terjaga, 
            serta para sahabat yang setia mendampingi perjuangannya.
        </p>


        <!-- Doa & Maksud -->
        <p class = "opening_text">
            Dengan penuh rasa syukur dan kerendahan hati, kami memohon doa restu atas terselenggaranya 
            pernikahan putra-putri kami. Semoga ikatan suci ini menjadi awal dari perjalanan hidup 
            yang penuh keberkahan, diliputi kasih sayang, ketenangan, dan rahmat dari Allah SWT.
        </p>

        <p class = "opening_text">
            Dengan memohon rahmat dan ridha-Nya, kami bermaksud menyelenggarakan pernikahan putra-putri kami:
        </p>
    </div>
</div>
