{% extends "base.html" %}

{% block title %}Invitation Raka & Nurul{% endblock %}

{% block content %}
    {% include "index/cover.html" %}

    {% include "index/opening.html" %}

    {% include "index/cp_pria.html" %}
    {% include "index/cp_wanita.html" %}

    {% include "index/counting.html" %}

    {% include "index/akad.html" %}
    {% include "index/resepsi.html" %}

    {% include "index/carousel.html" %}
    {% include "index/collections.html" %}
    
    {% include "index/closing.html" %}

    <audio id="lagu" src="{{ url_for('main.protected_audio', filename='kebo_giro.mp3') }}" preload="auto"></audio>
{% endblock %}
