{% extends "base.html" %}

{% block title %}Raka & Nurul Wedding{% endblock %}

{% block content %}
    <div>{% include "index_sections/cover.html" %}</div>
    <div>{% include "index_sections/opening.html" %}</div>
    <div>{% include "index_sections/profile.html" %}</div>
    <div>{% include "index_sections/agenda.html" %}</div>
    <div>{% include "index_sections/galery.html" %}</div>
    <div>{% include "index_sections/gift.html" %}</div>
    <div>{% include "index_sections/saying.html" %}</div>
{% endblock %}
